# Lesson 3 - Conditional Instructions & Operators

# Operators

## Arithmetic Operators

In [1]:
(3 + 2*4)/2.0

5.5

In [6]:
10**3 #potega

1000

In [7]:
10%3  #modulo 3 + 3 + 1

1

In [4]:
10//3 #dzielenie calkowite

3

In [10]:
a = 10
b = 3
m = a%b
f = a//b
a == m+f*b

True

Use of * operator with types other than int and float

In [12]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

## Comparition Operators

In [14]:
x = 2
print(x == 2)
print(x != 2)
print(x == 3)
print(x <= 2)
print(x >= 2) 
print(x < 2)
print(x > 2)

True
False
False
True
True
False
False

## Logical Operators

In [15]:
True and True

True

In [16]:
True and False

False

In [17]:
True or False

True

In [18]:
False or False

False

In [19]:
1 and 0

0

In [20]:
1 or 0

1

In [21]:
not False

True

In [22]:
(not False) == (False)

False

# Task
Write statement that will return true if number is even and  higer than 10.

In [35]:
list = [1, 2, 3, 4, 11, 12, 13, 14]

for n in list:
    if n > 10 and n % 2 == 0:
        print(n)  # Zamiast 'return n' używamy 'print', ponieważ 'return' działa tylko w funkcjach

12
14

# Task: 
write statement that represent XOR.

XOR is logical operator that returns true only when two variables has diffenet value

```python
a = 1
b = 0
# Your code
```
expected output:
```
True
```

In [45]:
a = 1
b = 0

def different_values():
    if a != b:
        return True
   
print(different_values())

True

## Assignment Operators

In [24]:
a = 10
a += 1
a

11

In [25]:
a *= 4
a

44

In [26]:
a /= 2
a

22.0

In [27]:
a %= 10
a

2.0

## Identity Operators

In [28]:
x = [1,2,3]
y = [1,2,3]
print(x == y) #sprawdza równość wartości
print(x is y) #x is y sprawdza, czy x i y są dokładnie tym samym obiektem

True
False

In [29]:
tab = [1, 2, 3]
tab2 = ['a', 'b', tab]

print(tab == tab2[2])
print(tab is tab2[2])

True
True

In [30]:
print(tab2)
tab.append(4) 
print(tab2)

['a', 'b', [1, 2, 3]]
['a', 'b', [1, 2, 3, 4]]

In [33]:
tab = [1, 2, 3]
tab3 = ['a', 'b', tab.copy()]

print(tab is tab3[2])
print(tab is not tab3[2])
print(tab == tab3[2])

False
True
True

In [32]:
print(tab3)
tab.append(4) 
print(tab3)

['a', 'b', [1, 2, 3]]
['a', 'b', [1, 2, 3]]

# Task: 
check if copy of list `is` this list, use `copy()` function

In [49]:
original_list = [1, 2, 3]
copied_list = original_list.copy()

print(original_list is copied_list)

False

## Membership Operators

In [46]:
2 in [1,2,3]

True

In [47]:
4 not in ["a","b"]

True

# Task: 
check if list is in itself, use `copy()` function

In [50]:
list = [1, 2, 3] 
copied_list = list.copy()

print(list in copied_list)

False

## Bitwise Operators

In [51]:
bin(6)

'0b110'

In [52]:
int('0b101', 2)

5

In [58]:
a=int('010', 2)
b=int('101', 2)
bin(a & b)

'0b0'

In [59]:
a=int('010', 2)
b=int('101', 2)
bin(a | b)

'0b111'

In [60]:
print(1 or 1)
print(1 or 0)
print(0 or 1)
print(0 or 0)

1
1
1
0

In [61]:
bin(a ^ b)
print(1 ^ 1)
print(1 ^ 0)
print(0 ^ 1)
print(0 ^ 0)

0
1
1
0

In [62]:
bin(0b1010 & 0b1000)

'0b1000'

# Conditional instructions

In [63]:
x = 2
if x < 2:
    print("x is less the two.")
elif x > 3:
    print("x is greter than three.")
else:
    print("x is equal two")

x is equal two

In [64]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John and you have 23 years.")

if name == "Robert" or age == 23:
    print("Your name is Robert or you have 23 years.")

Your name is John and you have 23 years.
Your name is Robert or you have 23 years.

In [65]:
imie = "Robert"
if imie in ("John", "Robert"):
    print ("Your name is John or Robert")

Your name is John or Robert

# Task: 
Write if statement, that checks if three lengths can form a triangle.

```python
a = 7, b=8, c=16
```
expected output:
```
False
```

In [68]:
a = 7
b = 8
c = 16

if a + b > c and a + c > b and b + c > a:
    print(True)
else:
    print(False)

False

# Task: 
Write if else statement that check if three points are on the same line 

```python
a = (1,1)
b = (2,2)
c = (3,2)
```
expected output:
```
False
```