# Lesson 2 - Containers Part I - Lists & Tuples

Containers are variables that can store multiple values of one or more type.

# List

List initialization:

In [1]:
a = [1,2]
a

[1, 2]

In example above we have showed value of a list without using `print` function.

We have just written variable name at the end of a cell.
This is possible only in notebook-like IDEs.

In this case value is an output of cell: `[1]: [1,2]`

Notice that if we print out value it shows up without `[1]:` because it is not an output of a cell.

In [30]:
print(a)

[1, 2, 'three', 'three']

Function `len` returns length of a list

In [31]:
len(a)

4

To add element to a list use `append` function. Notice, that you can store multiple different types in list

In [24]:
l = [1,2]
l.append("three")
print(l)

[1, 2, 'three']

to remove an element from list use `pop` function

In [23]:
print(l.pop())
print(l)

1
[]

You can add lists to each other, which result in concatenation of them

In [25]:
k = [3,4]
c = l+k
print(c)

[1, 2, 'three', 3, 4]

Notice that `pop` function returns removed from list value. If you don't provide argument to this function it will remove last element.

In [34]:
print([1,2,3].pop())
print([1,2,3].pop(0))
print([1,2,3].pop(1))
print([1,2,3].pop(2))
print([1,2,3].pop(-1))

3
1
2
3
3

If you append a list to list it will be one of its elements. If you want to concatenate two list use `+` operator

In [35]:
c.append([10,11])
print(c)

[1, 2, 'three', 3, 4, [10, 11]]

To get a part of list use square bracet notation `[f:l]`, where `f` is first index of fragment that you want to extract and `l` is index of last element. 

If you want to extract first theree elements, write `[0:3]`

In [36]:
my_list = [ 'a', 2 , 3, 'b', 5 ]
tinylist = [6, 'c']

In [37]:
print(my_list)          # complete list
print(my_list[0])       # first element of the list
print(my_list[1:3])     # elements starting from 2nd till 3rd 
print(my_list[2:])      # elements starting from 3rd element
print(tinylist * 2)  # list two times
print(my_list + tinylist) # concatenated lists

['a', 2, 3, 'b', 5]
a
[2, 3]
[3, 'b', 5]
[6, 'c', 6, 'c']
['a', 2, 3, 'b', 5, 6, 'c']

In [38]:
print(my_list[len(my_list)-1])
print(my_list[-1])

5
5

# Task
Divide list `[1,2,3,4]` into `[1,2]`, `[3,4]` using `[]` operator

In [47]:
ol = [1, 2, 3, 4]
first_half = ol[0:2]
second_half = ol[2:]
print(first_half)
print(second_half)
print(ol.pop())
print(ol.pop(0))
print(ol)

[1, 2]
[3, 4]
4
1
[2, 3]

# Tuple

Tuple is just like list, but you cannot modify data stored in this container after initialisation

In [51]:
a = (1,2)
a

(1, 2)

In [52]:
len(a)

2

In [55]:
l = (1,2)
l.append("three")

AttributeError: 'tuple' object has no attribute 'append'

In [56]:
l.pop()

AttributeError: 'tuple' object has no attribute 'pop'

You can create new tuple by concatenationg two othe tuples

In [57]:
k = (3,4)
c = l+k
print(c)

(1, 2, 3, 4)

In [58]:
my_tuple = ('a', 2 , 3, 'b', 5)
tinytuple = (6, 'c')

In [59]:
print(my_tuple)           # Prints complete list
print(my_tuple[0])       # Prints first element of the list
print(my_tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print(my_tuple[2:])       # Prints elements starting from 3rd element
print(tinytuple * 2)   # Prints list two times
print(my_tuple + tinytuple) # Prints concatenated lists

('a', 2, 3, 'b', 5)
a
(2, 3)
(3, 'b', 5)
(6, 'c', 6, 'c')
('a', 2, 3, 'b', 5, 6, 'c')

Look at different Error messages after assignment to empty list and tuple.

In [63]:
my_list = []
my_list[0] = 1

IndexError: list assignment index out of range

In [64]:
my_list = ()
my_tuple[0] = 1

TypeError: 'tuple' object does not support item assignment

# Tasks

## Task 1
Print out elements and their indexes in list using `enumerate()` function.
```python
l = ['a','b','c']
```
Expected Output:
```
0 a
1 b
2 c
```

In [68]:
l = ['a', 'b', 'c']

for index, element in enumerate(l):
    print(index, element)

0 a
1 b
2 c

## Task 2
Print out elements from l1 and l2 using `zip()` function.
```python
l1 = ['a','b','c']
l2 = ['A','B','C']
```
Expected Output:
```
a A
b B
c C
```

In [69]:
l1 = ['a','b','c']
l2 = ['A','B','C']

for pair1, pair2 in zip(l1, l2):
    print(pair1, pair2)

a A
b B
c C

## Task 3
Print out elements from l1 to the power of corresponding elments from l2.
```python
l1 = [1, 2, 3, 4]
l2 = [2, 2, 3, 3]
```
Expected Output:
```
1
4
27
64
```

In [71]:
l1 = [1, 2, 3, 4]
l2 = [2, 2, 3, 3]

for number, power in zip(l1, l2):
    print(number ** power)

1
4
27
64

## Task 4
Print out elements from l1 in order described in l2.
```python
l1 = ['y','p','o','n','t','h']
l2 = [1,0,4,5,2,3]
```
Expected Output:
```
p
y
t
h
o
n
```

In [74]:
l1 = ['y','p','o','n','t','h']
l2 = [1,0,4,5,2,3]

for index in l2:
    print(l1[index])

p
y
t
h
o
n

## Task 5
Create new list, which will be merged list l1 and reverser l1, use `reverse()` function.
```python
l1 = [1,2,3]
l2 = list()
```
Expected Output:
```python
print(l2)
[1, 2, 3, 3, 2, 1]
```

In [75]:
l1 = [1,2,3]
l2 = list()

l3 = reverse(l1)

l2 = l1 + l3
print(l1)

NameError: name 'reverse' is not defined

# Task 6
Pack two integers into one variable using list `[]` and tuple `()`

In [78]:
a = 2
b =4

list = [a,b]
print(list)

tuple = (a,b)
print(tuple)

[2, 4]
(2, 4)

## Task 7
Cast tuple to list and otherwise.

In [84]:
my_list = [1,2,3]
my_tuple = (1,2,3)

print(tuple(my_list))
print(list(my_tuple))

TypeError: 'list' object is not callable

## Task 8
Do a list of three tuple objects initialised with following natural numbers, try to remove middle one from such created list.

In [86]:
my_list = [ (1,2), (2,2), (2,3)]
my_list.pop(1)
print(my_list)

[(1, 2), (2, 3)]