# Lesson 5 - Containers Part II - Dictionary & Set

# Dictionary

dictionary - unordered list with key-value indexing

In [1]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"
dict

{'one': 'This is one', 2: 'This is two'}

In [2]:
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}
tinydict

{'name': 'john', 'code': 6734, 'dept': 'sales'}

In [3]:
print(dict['one'])       # Prints value for 'one' key
print(dict[2])           # Prints value for 2 key
print(tinydict )         # Prints complete dictionary
print(tinydict.keys())   # Prints all the keys
print(tinydict.values() )# Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [4]:
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}
for x in tinydict:
      print(x)

name
code
dept

In [5]:
for x in tinydict:
      print(tinydict[x])

john
6734
sales

In [6]:
for x in tinydict.values():
      print(x)

john
6734
sales

In [7]:
for x, y in tinydict.items():
      print(x, y)

name john
code 6734
dept sales

In [8]:
thisdict =	dict(brand="Ford", model="Mustang", year=1964)
print(thisdict)

TypeError: 'dict' object is not callable

# Task: 
create dict with information about music abum of your favourite band.

In [ ]:
...

# Set

set - nonidexed dictionary

In [10]:
thisset = set(("apple", "banana", "cherry"))
thisset

{'apple', 'banana', 'cherry'}

In [11]:
thisset = {"apple", "banana", "cherry"}
thisset

{'apple', 'banana', 'cherry'}

In [12]:
print(thisset)
print("banana" in thisset)

{'banana', 'apple', 'cherry'}
True

In [13]:
print(thisset.pop())       # Prints value for 'one' key
print(thisset)         # Prints complete set
print("banana" in thisset)

banana
{'apple', 'cherry'}
False

In [14]:
type(thisset)

set

In [15]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'banana', 'mango', 'grapes', 'apple', 'orange', 'cherry'}

# Task: 
introduce yourself to the following functions of set class, and use them on two sample sets.

- `intersection()`	Returns a set, that is the intersection of two other sets
- `intersection_update()`	Removes the items in this set that are not present in other, specified set(s)
- `isdisjoint()`	Returns whether two sets have a intersection or not
- `issubset()`	Returns whether another set contains this set or not
- `issuperset()`	Returns whether this set contains another set or not

```python
a = {1,2,3,4,5}
b = {0,1,2}
```

In [20]:
a = {1,2,3,4,5}
b = {1,2}
print(b.issubset(a))

True

# Folded Lists

In [21]:
n = 'quick brown fox jumps over the lazy dog'
s = n.split()  
d = []
for i in s:
    if i != 'nad':
        d.append(len(i))

print (d)

[5, 5, 3, 5, 4, 3, 4, 3]

In [22]:
n = 'quick brown fox jumps over the lazy dog'
s = n.split()
d = [len(i) for i in s]

print(d)

[5, 5, 3, 5, 4, 3, 4, 3]

In [23]:
n = 'quick brown fox jumps over the lazy dog'
s = n.split()
d = [len(i) for i in s if i != 'over']

print(d)

[5, 5, 3, 5, 3, 4, 3]

# Task: 
Create that capitalize first letter of each word in string. Use `capitalize()` function in string class.

In [26]:
n = "quick brown fox jumps over the lazy dog"
s = n.split()

capitalized_s = [word.capitalize() for word in s]

capitalized_text = ' '.join(capitalized_s)

print(capitalized_text)

Quick Brown Fox Jumps Over The Lazy Dog