# Lesson 1 - Introduction

# How to use Jupyter Notebook

- `B` to create new block of code \[B\]elow current block
- `A` to do the same \[A\]bove
- `D+D` to \[D\]elete block of code
- `Ctr+Enter` to Run selected cell
- `Shift+Enter` to Run selected cell and
- `Ctrl+/` to comment line of code

# Basic Variables Types

In [1]:
a = 100
print(a)
print(type(a))

100
<class 'int'>

In [2]:
b = 100.0
print(b)
print(type(b))

100.0
<class 'float'>

In [3]:
c = "text"
print(c)
print(type(c))

text
<class 'str'>

In [4]:
d = True
print(d)
print(type(d))

True
<class 'bool'>

# Changing variable value

In [5]:
print(a)
a = 0
print(a)

100
0

changing variable type

In [6]:
print(a)
a = 'text'
print(a)

0
text

Q: why is it possible?

A: that's because python has dynamic types - which means variable don't have to have explicity type when initialised and type of data that variable is istoring can be changed.

# Casting

In [7]:
a = int(100)
print(a, type(a))
a = float(100)
print(a, type(a))
a = bool(100)
print(a, type(a))
a = str(100)
print(a, type(a))

100 <class 'int'>
100.0 <class 'float'>
True <class 'bool'>
100 <class 'str'>

Not all types can be casted to other types

In [8]:
a = int('text')

ValueError: invalid literal for int() with base 10: 'text'

# Deleting reference to variable

In [9]:
var = 1
print(var)

1

In [10]:
del var
print(var)

NameError: name 'var' is not defined

# Comments

In [11]:
# This is comment
'''
this 
is 
multiline 
comment
'''

'\nthis \nis \nmultiline \ncomment\n'

# Variable initialization

Assigning a value to just created variable is called an initialization

In [12]:
a = 1
b = 2
c = "3"
print(a,b,c)

1 2 3

In [13]:
a = 1; b = 2; c = "3"
print(a,b,c)

1 2 3

In [14]:
a,b,c = 1,2,"3"
print(a,b,c)

1 2 3

In [15]:
a = b = c = 1
print(a,b,c)

1 1 1

# Tasks
List all known to you basic python types initialize them and print out their values.

Can you cast value of all of them to bool? For example `bool("False")`

In [23]:
a = 1
b = 1.1
c = "I like number 1 "
print(a, b, c)
print(type(a))
print(type(c))

1 1.1 I like number 1
<class 'int'>
<class 'str'>

In [24]:
n = 1
print(n)

1

In [25]:
del n
print(n)

NameError: name 'n' is not defined